@import url("https://rsms.me/inter/inter.css");

:root {
  /* Light mode colors */
  --fg: #000;
  --bg: #fff;
  --accents-1: #333;
  --accents-2: #ccc;
  --accents-3: #dedede;

  /* Static colors */
  --green: #21a453;
  --green-accent: #0d4020;
  --red: #d44333;
  --red-accent: #541a14;

  /* Spacing */
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --main-content: 45rem;

  /* Typography */
  --font-sans: "Inter", sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-size-small: 0.875rem;

  /* Transitions */
  --transition: 0.1s ease-in-out;

  /* Media queries */
  /* TODO write this to wiki */
  /* 1: @media (max-width: 600px) */
}

html.dark {
  /* Dark mode colors */
  --fg: #fff;
  --bg: #141414;
  --accents-1: #e2e2e2;
  --accents-2: #545454;
  --accents-3: #292929;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
}

body {
  background: var(--bg);
  color: var(--fg);
}
