@import url("https://rsms.me/inter/inter.css");

:root {
  --bg: white;
  --fg: black;
  --theme-primary: #28166f;
  --theme-secondary: #667ab3;
  --gray: #ccc;
  --main-content: 75rem;
  --transition: 100ms ease-in-out;
}

.dark {
  --bg: #131415;
  --fg: #fafbfc;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--bg);
  color: var(--fg);
  transition: color var(--transition), background var(--transition);
}
