:root {
  --bg: white;
  --fg: black;
  --theme-primary: #28166f;
  --theme-secondary: #667ab3;
  --transition: 100ms ease-in-out;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
}
